<% layout("layouts/boilerplate") %>
<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card" >
        <img
          src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
          alt="Background Image"
          class="card-img-top img-fluid"
          style="object-fit: cover; max-height: 300px; width: 100%;"
        />
        <div class="card-body">
          <h2 class="mb-4">Login</h2>
          <form
            action="/login"
            method="POST"
            class="form-validation"
            novalidate
          >
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                autocomplete="off"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                autocomplete="off"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
